/* CSS Reset */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;word-break:break-word;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
th, td {border: solid 1px #000;}

/* 나의 CSS */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:90%;
  height:auto;
}

#head_title {
  text-align: center;
  font-size: 1.3em;
  margin: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #c4c4c4;
  border: 1px solid black;
}

.flex-item {
  width: auto;
  margin: 5px;
  color: white;
  background-color: #52aaaa;
}

.flex-item:nth-child(2n) {
  background-color: #5ebfbf;
}

.grid-container{
  display:grid;
  grid-template-columns:50% 50%;
  grid-template-rows:50% 50%;
  width: 100%;
  height: auto;
  background-color: #ffc4c4;
  border: 1px solid black;
}
.grid-item{
  color:white;
  margin: 5px;
  background-color:#52aaaa;
}
.grid-item:nth-child(2n){
  background-color:#5ebfbf;
}